.friend-list .name_u{font-size: 16px; font-weight: bold; padding-bottom: 5px;}
.friend-list div .talk_u,.time_u{display:inline-block; font-size: 11px; color: rgb(197, 197, 197);}
.friend-list .time_u{margin-right: 5px; font-size: 10px;}

